/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

.bold {
	font-weight:bold;
	color:white;
	font-size:100px;
	font-style:italic;
}

.btn {
  background: #34d94d;
  background-image: -webkit-linear-gradient(top, #34d94d, #3db82b);
  background-image: -moz-linear-gradient(top, #34d94d, #3db82b);
  background-image: -ms-linear-gradient(top, #34d94d, #3db82b);
  background-image: -o-linear-gradient(top, #34d94d, #3db82b);
  background-image: linear-gradient(to bottom, #34d94d, #3db82b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfc6f;
  background-image: -webkit-linear-gradient(top, #3cfc6f, #3498db);
  background-image: -moz-linear-gradient(top, #3cfc6f, #3498db);
  background-image: -ms-linear-gradient(top, #3cfc6f, #3498db);
  background-image: -o-linear-gradient(top, #3cfc6f, #3498db);
  background-image: linear-gradient(to bottom, #3cfc6f, #3498db);
  text-decoration: none;
}